@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */


.navbar{
 
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
 box-shadow: 0px 8px 6px -6px grey;
--webkit-box-shadow:0px 8px 6px -6px grey;


border-bottom: solid grey !important ; 
border-width: 100%;
}

.nav-link{
  font-weight: 300 !important;
  
}
.active{
  border-bottom: 2px solid black;
}
.navbar-brand{
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "roboto",sans-serif;
}
.shop-img{
width:2rem !important;

}

.footer{

color: white;
padding: 13px;
background: #292424;
overflow-x: auto;

  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%, rgba(253,29,29,1) 100%);; */
}
.footer a{
text-decoration: none;
padding: 5px;
color: white;
}

.footer a:hover{
border-bottom: 1px solid #ffefba;
color: #ffefba;

}



.pnf{
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pnf-title{
font-size: 100px;
font-weight: 700;

}
.pnf-heading{

  font-weight: normal;
}
.btn-pnf{
  padding: 12px;
color: black;
text-decoration: none;
margin-top: 10px;
border:1px solid black;
border-radius: 5px;
}
.btn-pnf:hover{
  background-color: black;
  color:white;
}
.contactus-img{
  width: 80%;
  height: 70vh;
}
.contactus{
 
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contact-title{
  border-radius: 5px;
}
.about-img{
  width: 90%;
  height: 65vh;
}
.visible{
    display: none !important
}


.position-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* products link  */



/* reset  btn  */

/* card */



